<main class="container">
  <form name="job" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
    <div class="mb-3">
      <label for="name" class="form-label">Name *</label>
      <input
        name="name"
        type="text"
        class="form-control"
        required
        [(ngModel)]="model.name"
        #name="ngModel"
        minlength="4"
        [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
      />
      <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
        <div *ngIf="name.errors?.required">Name is required</div>
        <div *ngIf="name.errors?.minlength">
          Name should be atleast 3 characters long
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="dob" class="form-label">Date of Birth</label>
      <input
        id="dob"
        name="dob"
        type="date"
        class="form-control"
        (change)="ageCalc()"
        required
        [(ngModel)]="model.dob"
        #dob="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && dob.invalid }"
      />
      <div *ngIf="f.submitted && dob.invalid" class="invalid-feedback">
        <div *ngIf="dob.errors?.required">DOB is required</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="age" class="form-label">Age</label>
      <input
        name="age"
        type="number"
        class="form-control"
        value="{{ showAge }}"
        required
        [(ngModel)]="model.age"
        #age="ngModel"
        min="18"
        [ngClass]="{ 'is-invalid': f.submitted && age.invalid }"
      />
      <div *ngIf="f.submitted && age.invalid" class="invalid-feedback">
        <div *ngIf="age.errors?.required">Age is required</div>
        <div *ngIf="age.errors?.min">Age is below 18</div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Gender</label>
      <div class="form-check radio">
        <input
          id="male"
          name="gender"
          value="male"
          type="radio"
          class="form-check-input"
          required
          [(ngModel)]="model.gender"
          #gender="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && gender.invalid }"
        />
        <label class="form-check-label" for="male"> Male </label>
      </div>

      <div class="form-check radio">
        <input
          id="female"
          name="gender"
          value="female"
          type="radio"
          class="form-check-input"
          required
          [(ngModel)]="model.gender"
          #gender="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && gender.invalid }"
        />
        <label class="form-check-label" for="female"> Female </label>
      </div>
      <div
        *ngIf="f.submitted && gender.invalid && gender.invalid"
        class="invalid-feedback error"
      >
        <div *ngIf="gender.errors?.required">Gender is required</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email ID</label>
      <input
        id="email"
        name="email"
        type="text"
        class="form-control"
        email
        required
        [(ngModel)]="model.email"
        #email="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
      />
      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
        <div *ngIf="email.errors?.required">Email is required</div>
        <div *ngIf="email.errors?.email">Email is invalid</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="role" class="form-label">Role</label>
      <select
        id="role"
        name="role"
        class="dropdown"
        required
        [(ngModel)]="model.role"
        #role="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && role.invalid }"
      >
        <option>Developer</option>
        <option>Tester</option>
        <option>QA</option>
        <option>Product Owner</option>
      </select>
      <div *ngIf="f.submitted && role.invalid" class="invalid-feedback">
        <div *ngIf="role.errors?.required">Role is required</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="experience" class="form-label">Experience</label>
      <input
        id="experience"
        name="experience"
        type="number"
        class="form-control"
        required
        [(ngModel)]="model.experience"
        #experience="ngModel"
        min="2"
        max="5"
        [ngClass]="{ 'is-invalid': f.submitted && experience.invalid }"
      />
      <div *ngIf="f.submitted && experience.invalid" class="invalid-feedback">
        <div *ngIf="experience.errors?.required">Experience is required</div>
        <div *ngIf="experience.errors?.min">Experience is below 2 years</div>
        <div *ngIf="experience.errors?.max">Experience is above 5 years</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="prev_comp" class="form-label">Previous Company Name</label>
      <input
        id="prev_comp"
        name="prev_comp"
        type="text"
        class="form-control"
        required
        [(ngModel)]="model.prev_comp"
        #prev_comp="ngModel"
        minlength="3"
        maxlength="50"
        [ngClass]="{ 'is-invalid': f.submitted && prev_comp.invalid }"
      />
      <div *ngIf="f.submitted && prev_comp.invalid" class="invalid-feedback">
        <div *ngIf="prev_comp.errors?.required">
          Previous Company Name is required
        </div>
        <div *ngIf="prev_comp.errors?.minlength">
          Previous Company Name should be atleast 3 characters long
        </div>
        <div *ngIf="prev_comp.errors?.maxlength">
          Previous Company Name exceeds 50 characters
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="prev_comp_exp" class="form-label"
        >Previous Company Experience</label
      >
      <input
        id="prev_comp_exp"
        name="prev_comp_exp"
        type="number"
        class="form-control"
        required
        [(ngModel)]="model.prev_comp_exp"
        #prev_comp_exp="ngModel"
        min="2"
        max="5"
        [ngClass]="{ 'is-invalid': f.submitted && prev_comp_exp.invalid }"
      />
      <div
        *ngIf="f.submitted && prev_comp_exp.invalid"
        class="invalid-feedback"
      >
        <div *ngIf="prev_comp_exp.errors?.required">
          Previous Company Experience is required
        </div>
        <div *ngIf="prev_comp_exp.errors?.min">
          Previous Company Experience is below 2 years
        </div>
        <div *ngIf="prev_comp_exp.errors?.max">
          Previous Company Experience is above 5 years
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="resume" class="form-label">Resume</label>
      <input id="resume" name="resume" type="file" class="resume" required />
    </div>

    <div class="mb-3">
      <label for="blood" class="form-label">Blood Group</label>
      <select
        id="blood"
        name="blood"
        class="dropdown"
        required
        [(ngModel)]="model.blood"
        #blood="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && blood.invalid }"
      >
        <option>O+</option>
        <option>O-</option>
        <option>A+</option>
        <option>A-</option>
        <option>B+</option>
        <option>B-</option>
      </select>
      <div *ngIf="f.submitted && blood.invalid" class="invalid-feedback">
        <div *ngIf="blood.errors?.required">Blood Group is required</div>
      </div>
    </div>

    <!--
    <div class="mb-3">
      <label for="sslc_schl" class="form-label">SSLC School Name</label>
      <input type="text" class="form-control" id="sslc_schl" />
    </div>
    
    <div class="mb-3">
      <label for="sslc_mark" class="form-label">SSLC Marks</label>
      <input type="number" class="form-control" id="sslc_mark" />
    </div>
    
    <div class="mb-3">
      <label for="sslc_prc" class="form-label">SSLC Percentage</label>
      <input type="number" class="form-control" id="sslc_prc" />
    </div>
    
    <div class="mb-3">
      <label for="sslc_mode" class="form-label">SSLC Mode</label>
      <select class="dropdown" id="sslc_mode">
        <option>Choose</option>
        <option>Stateboard</option>
        <option>CBSE</option>
        <option>ICSE</option>
        <option>Other</option>
      </select>
    </div>
-->

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</main>
