<main class="container">
  <form [formGroup]="job" (ngSubmit)="onSubmit()">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>

      <thead>
        <tr>
          <th scope="col">Personal Details</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="mb-3">
              <label for="name" class="form-label">Name *</label>
              <input
                id="name"
                type="text"
                class="form-control"
                formControlName="name"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
              />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
                <div *ngIf="f.name.errors.minlength">
                  Name should be atleast 3 characters long
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Gender *</label>
              <div class="form-check">
                <input
                  id="male"
                  name="gender"
                  value="male"
                  type="radio"
                  class="form-check-input"
                  formControlName="gender"
                  [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
                />
                <label class="form-check-label" for="male"> Male </label>
              </div>

              <div class="form-check">
                <input
                  id="female"
                  name="gender"
                  value="female"
                  type="radio"
                  class="form-check-input"
                  formControlName="gender"
                  [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
                />
                <label class="form-check-label" for="female"> Female </label>
              </div>
              <div
                *ngIf="submitted && f.gender.errors && f.gender.invalid"
                class="invalid-feedback error"
              >
                <div *ngIf="f.gender.errors?.required">Gender is required</div>
              </div>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email ID *</label>
              <input
                id="email"
                type="email"
                class="form-control"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.pattern">Invalid Email</div>
              </div>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <label for="dob" class="form-label">Date of Birth *</label>
              <input
                id="dob"
                type="date"
                class="form-control"
                [(ngModel)]="birth"
                (change)="ageCalc()"
                formControlName="dob"
                [ngClass]="{ 'is-invalid': submitted && f.dob.errors }"
              />
              <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                <div *ngIf="f.dob.errors.required">DOB is required</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="age" class="form-label">Age *</label>
              <input
                id="age"
                type="number"
                class="form-control"
                formControlName="age"
                [ngClass]="{ 'is-invalid': submitted && f.age.errors }"
                [readonly]="true"
              />
              <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                <div *ngIf="f.age.errors.required">Age is required</div>
                <div *ngIf="f.age.errors.min">Age is below 18</div>
                <div *ngIf="f.age.errors.max">Age is above 30</div>
              </div>
            </div>

            <div class="mb-3">
              <label for="blood" class="form-label">Blood Group *</label>
              <select
                id="blood"
                class="dropdown"
                formControlName="blood"
                [ngClass]="{ 'is-invalid': submitted && f.blood.errors }"
              >
                <option>O+</option>
                <option>O-</option>
                <option>A+</option>
                <option>A-</option>
                <option>B+</option>
                <option>B-</option>
              </select>
              <div *ngIf="submitted && f.blood.errors" class="invalid-feedback">
                <div *ngIf="f.blood.errors.required">
                  Blood Group is required
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th scope="col">Professional Details</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="mb-3">
              <label for="role" class="form-label">Role *</label>
              <select
                id="role"
                class="dropdown"
                formControlName="role"
                [ngClass]="{ 'is-invalid': submitted && f.role.errors }"
              >
                <option>Developer</option>
                <option>Tester</option>
                <option>QA</option>
                <option>Product Owner</option>
              </select>
              <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                <div *ngIf="f.role.errors.required">Role is required</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="prev_comp" class="form-label"
                >Previous Company Name *</label
              >
              <input
                id="prev_comp"
                type="text"
                class="form-control"
                formControlName="prev_comp"
                [ngClass]="{ 'is-invalid': submitted && f.prev_comp.errors }"
              />
              <div
                *ngIf="submitted && f.prev_comp.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.prev_comp.errors.required">
                  Previous Company Name is required
                </div>
                <div *ngIf="f.prev_comp.errors.minlength">
                  Previous Company Name should be atleast 3 characters long
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="resume" class="form-label">Resume *</label>
              <input
                id="resume"
                type="file"
                class="resume"
                (change)="onFileSelect($event)"
                formControlName="resume"
                [ngClass]="{ 'is-invalid': submitted && f.resume.errors }"
              />
              <div
                *ngIf="submitted && f.resume.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.resume.errors.required">Resume is required</div>
              </div>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <label for="experience" class="form-label">Experience *</label>
              <input
                id="experience"
                type="number"
                class="form-control"
                formControlName="experience"
                [(ngModel)]="prev_exp"
                [ngClass]="{ 'is-invalid': submitted && f.experience.errors }"
              />
              <div
                *ngIf="submitted && f.experience.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.experience.errors.required">
                  Experience is required
                </div>
                <div *ngIf="f.experience.errors.min">
                  Experience is less than 2 years
                </div>
                <div *ngIf="f.experience.errors.max">
                  Experience is more than 5 years
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="prev_comp_exp" class="form-label"
                >Previous Company Experience *</label
              >
              <input
                type="number"
                class="form-control"
                id="prev_comp_exp"
                formControlName="prev_comp_exp"
                [ngClass]="{
                  'is-invalid': submitted && f.prev_comp_exp.errors
                }"
              />
              <div
                *ngIf="submitted && f.prev_comp_exp.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.prev_comp_exp.errors.required">
                  Previous Company Experience is required
                </div>
                <div *ngIf="f.prev_comp_exp.errors.min">
                  Previous Company Experience is less than 2 years
                </div>
                <div *ngIf="f.prev_comp_exp.errors.max">
                  Previous Company Experience is more than your experience
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th scope="col">Academic Details</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="mb-3">
              <label for="sslc_schl" class="form-label"
                >SSLC School Name *</label
              >
              <input
                id="sslc_schl"
                type="text"
                class="form-control"
                formControlName="sslc_schl"
                [ngClass]="{ 'is-invalid': submitted && f.sslc_schl.errors }"
              />
              <div
                *ngIf="submitted && f.sslc_schl.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.sslc_schl.errors.required">
                  SSLC School Name is required
                </div>
                <div *ngIf="f.sslc_schl.errors.minlength">
                  SSLC School Name should be atleast 3 characters long
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="sslc_mode" class="form-label">SSLC Mode *</label>
              <select
                class="dropdown"
                id="sslc_mode"
                formControlName="sslc_mode"
                [ngClass]="{ 'is-invalid': submitted && f.sslc_mode.errors }"
              >
                <option>Stateboard</option>
                <option>CBSE</option>
                <option>ICSE</option>
                <option>Other</option>
              </select>
              <div
                *ngIf="submitted && f.sslc_mode.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.sslc_mode.errors.required">
                  SSLC Mode is required
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <label for="sslc_mark" class="form-label">SSLC Marks *</label>
              <input
                id="sslc_mark"
                type="number"
                class="form-control"
                [(ngModel)]="sslc_mrk"
                (change)="sslcPercent()"
                formControlName="sslc_mark"
                [ngClass]="{ 'is-invalid': submitted && f.sslc_mark.errors }"
              />
              <div
                *ngIf="submitted && f.sslc_mark.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.sslc_mark.errors.required">
                  SSLC Marks is required
                </div>
                <div *ngIf="f.sslc_mark.errors.min">
                  SSLC Marks is below the minimum marks
                </div>
                <div *ngIf="f.sslc_mark.errors.max">
                  SSLC Marks is above the maximum marks
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="sslc_prc" class="form-label">SSLC Percentage *</label>
              <input
                id="sslc_prc"
                type="number"
                class="form-control"
                formControlName="sslc_prc"
                [ngClass]="{ 'is-invalid': submitted && f.sslc_prc.errors }"
                [readonly]="true"
              />
              <div
                *ngIf="submitted && f.sslc_prc.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.sslc_prc.errors.required">
                  SSLC Percentage is required
                </div>
                <div *ngIf="f.sslc_prc.errors.min">
                  SSLC Percentage is below the minimum percentage
                </div>
                <div *ngIf="f.sslc_prc.errors.max">
                  SSLC Percentage is above the maximum percentage
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="mb-3">
              <label for="sslc_schl" class="form-label"
                >HSLC School Name *</label
              >
              <input
                id="hslc_schl"
                type="text"
                class="form-control"
                formControlName="hslc_schl"
                [ngClass]="{ 'is-invalid': submitted && f.hslc_schl.errors }"
              />
              <div
                *ngIf="submitted && f.hslc_schl.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.hslc_schl.errors.required">
                  HSLC School Name is required
                </div>
                <div *ngIf="f.hslc_schl.errors.minlength">
                  HSLC School Name should be atleast 3 characters long
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="hslc_mode" class="form-label">HSLC Mode *</label>
              <select
                class="dropdown"
                id="hslc_mode"
                formControlName="hslc_mode"
                [ngClass]="{ 'is-invalid': submitted && f.hslc_mode.errors }"
              >
                <option>Stateboard</option>
                <option>CBSE</option>
                <option>ICSE</option>
                <option>Other</option>
              </select>
              <div
                *ngIf="submitted && f.hslc_mode.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.hslc_mode.errors.required">
                  HSLC Mode is required
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <label for="hslc_mark" class="form-label">HSLC Marks *</label>
              <input
                id="hslc_mark"
                type="number"
                class="form-control"
                [(ngModel)]="hslc_mrk"
                (change)="hslcPercent()"
                formControlName="hslc_mark"
                [ngClass]="{ 'is-invalid': submitted && f.hslc_mark.errors }"
              />
              <div
                *ngIf="submitted && f.hslc_mark.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.hslc_mark.errors.required">
                  HSLC Marks is required
                </div>
                <div *ngIf="f.hslc_mark.errors.min">
                  HSLC Marks is below the minimum marks
                </div>
                <div *ngIf="f.hslc_mark.errors.max">
                  HSLC Marks is above the maximum marks
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="hslc_prc" class="form-label">HSLC Percentage *</label>
              <input
                id="hslc_prc"
                type="number"
                class="form-control"
                formControlName="hslc_prc"
                [ngClass]="{ 'is-invalid': submitted && f.hslc_prc.errors }"
                [readonly]="true"
              />
              <div
                *ngIf="submitted && f.hslc_prc.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.hslc_prc.errors.required">
                  HSLC Percentage is required
                </div>
                <div *ngIf="f.hslc_prc.errors.min">
                  HSLC Percentage is below the minimum percentage
                </div>
                <div *ngIf="f.hslc_prc.errors.max">
                  HSLC Percentage is above the maximum percentage
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="button">
      <button type="submit" class="btn btn-primary submit">Submit</button>
      <button type="reset" class="btn btn-danger reset">Reset</button>
    </div>
  </form>
</main>
