.radio {
  display: inline-block;
  margin-left: 30px;
}

.dropdown {
  width: 160px;
  height: 30px;
  margin-top: 5px;
  display: block;
}

.resume {
  margin-left: 30px;
}

.form-control {
  width: 400px;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.error {
  display: inline-block;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  margin-right: 5px;
  margin-bottom: 20px;
  width: 90px;
}
.reset {
  margin-left: 5px;
  margin-bottom: 20px;
  width: 90px;
}
