<div class="login">
  <button (click)="onclickLogin()" class="btn btn-outline-danger">
    Logout
  </button>
</div>
<main class="cont">
  <div class="card" style="width: 18rem; margin: 20px">
    <img
      src="../../assets/Angular_full_color_logo.svg.png"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body text">
      <h5 class="card-title">Reactive Form</h5>

      <button (click)="onclickReactive()" class="btn btn-primary">
        Reactive form
      </button>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin: 20px">
    <img
      src="../../assets/Angular_full_color_logo.svg.png"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body text">
      <h5 class="card-title">Template Driven Form</h5>

      <button (click)="onclickTemplate()" class="btn btn-info mrg">
        Template form
      </button>
    </div>
  </div>
</main>
