.mrg {
  margin-left: 20px;
}

.cont {
  display: flex;
  height: 100vh;
  border: 1px;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

.text {
  text-align: center;
}
